<div id="<%= dom_id operation %>">
  <p>
    <strong>Description:</strong>
    <%= operation.description %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= operation.value %>
  </p>

  <p>
    <strong>Account:</strong>
    <%= operation.account_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= operation.user_id %>
  </p>

</div>
